.banner {
    background: var(--cor-de-fundo);
    color: var(--texto-preto);
    max-width: 350px;
    margin: 0 auto;
}

.banner-laptop {
    background:no-repeat url(https://www.apple.com/v/macbook-pro/ai/images/overview/welcome/welcome_hero_endframe__66ipqm3o5gyu_large.jpg);
    background-size: cover;
    background-position: left;
}

.mac {
    font-size: 16px;
    padding: 0.8em 0 0 2em;
    font-weight: 500;
}

.banner__titulo {
    padding: 0 2em 0 1em;
    z-index: 3;
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner__titulo2 {
    padding: 0 2em 1em 1em;
    z-index: 3;
    display: block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner__pesquisa {
    margin-top: 1.5em;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #c6c6c6;
    color: var(--texto-preto);
    padding: 0.8em;
    width: 100%;
}

.banner__pesquisa::placeholder {
    font-family: var(--font-principal);
    font-size: 14px;
    font-weight: 400;
    padding-left: 35px;
    color: var(--texto-destaque-secundario);
    background: url(../image/lupa.png) no-repeat;
}

@media screen and (min-width: 1024px)  {
    .banner {
        max-width: 984px;
        margin: 0 auto;
        padding-bottom: 1.5em;
    }

    .back-branco {
        background: #fff;
    }
    .banner-laptop {
        background-size: contain;
        background-position: center;
        width: 100%;
    }

    .banner__pesquisa {
        max-width: 400px;
        margin-left: 30%;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        margin-left: 40%;
    }

    .banner {
        max-width: 1688px;
        margin: 0 auto;
    }
}