.carrosel {
    max-width: 350px;
    margin: 0 auto;
    padding: 1em 0;
}

.carrosel__titulo {
    display: inline;
    color: var(--texto-destaque);
}
.carrosel-span, .carrosel__titulo {
    font-size: 22px;
    font-weight: 500;
}
.carrosel-span {
    color: var(--texto-destaque-secundario);
}

.block-card {
    padding: 1.5em;
}
.block-card-titulo {
    color: var(--texto-destaque);
    padding: 1em 0;
}

.card {
    background: var(--cor-de-bloco);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 2em;
    cursor: pointer;
}
.card-img {
    width: 50px;
}
.card-text {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 2em;
}

.mediascreen {
    display: none;
}

@media screen and (min-width: 1024px) {
    .carrosel {
        max-width: 984px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1728px) {
    .carrosel-container {
        display: flex;
        margin: 0 15vw 3em 15vw;
        align-items: center;
    }

    .carrosel {
        max-width: 1688px;
        margin: 0 auto;
    }

    .text-principal-carrosel {
        text-align: center;
    }
}