.topicos {
    background: var(--cor-de-bloco);
    text-align: center;
    padding: 1em 0;
}

.topicos__titulo {
    padding-bottom: 1em;
    text-transform: uppercase;
}

.topicos-item {
    list-style-type: none;
    margin: 2em 0.5em;
}

.topicos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-link {
    color: var(--texto-preto);
    padding: 1em;
    background: var(--texto-destaque-secundario);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos-link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 1em 30vw;
        max-width: 1688px;
        margin: 0 auto;
    }
}